extends layout
block header
  h1(ng-bind="shoppingList.title + ' – ' + #{ i18n('shoppingList.archives') }")

block content
  article.shopping-list

    ul.item-list
      li.placeholder(ng-show="items.length == 0") ...
      sii-list-item.bought(ng-repeat="item in items | orderBy:'-created'"
          item="item"
          toggle="toggleBought"
          update="updateItem"
          remove="removeItem")

  #action-links
    a(ng-href="{{ home }}", ng-bind="#{ i18n('shoppingList.backToList') }")
