doctype
html(ng-app="Shoppinglist", lang="#{ lang }")
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(charset="utf-8")
    title(ng-bind="#{ i18n('title') }") #{ translations.title }
    meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    //- Vendor styles
    != css('vendor')
    //- Vendor scripts
    != js('vendor')
    //- Styles
    != css('screen')
    //- App
    script(src="/scripts/app.js")
    script(src="/scripts/controllers.js")
    script(src="/scripts/services.js")
    script(src="/scripts/directives.js")
    script(src="/scripts/filters.js")

  body
    div(ng-view)
    sii-loading-screen
      span(ng-bind="#{ i18n('loadingText') }")
